strict-peer-dependencies=false
auto-install-peers=true
ignore-workspace-root-check=true
unsafe-perm=true
engine-strict = true
@frnt:registry=https://npm.staging.frnt.io
public-hoist-pattern[]=*material*
public-hoist-pattern[]=*material-components-web*
public-hoist-pattern[]=*source-map-loader*
public-hoist-pattern[]=*react-resizable*

